</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>
    console.log("Fuker");
    $( document ).ready(function(){
        $('select').material_select();
    })
</script>
<script src="http://materializecss.com/templates/starter-template/js/init.js"></script>
</html>