<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="Mess Management System">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- favicon -->
        <link rel="manifest" href="/manifest.json">
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">


        <link rel="stylesheet" href="/css/select2.min.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/mdb.min.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel='stylesheet' id='compiled.css-css' href='/css/compiled.min.css' type='text/css' media='all' />
        <link rel="stylesheet" href='/css/toastr.min.css'/>
        <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <title>MessManagement</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark indigo">

            <a class="navbar-brand" href="/">
                <img src="/img/download.png" width="30" height="30" class="d-inline-block align-top" alt="">
                Mess ManageMent
            </a>

            <!-- Collapse button -->
            <button class="navbar-toggler"  data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span></button>

            <!-- Collapsible content -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Links -->
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item">
                            <a class="nav-link" href="/itemperday">Today's Menu</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Supplier's Corner</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/newsupplier">New Supplier</a>
                                <a class="dropdown-item" href="/order">Enter Order Details</a>
                                <a class="dropdown-item" href="/supdetails">Bill Details</a>

                            </div>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bill's</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/todaysBill">Today's Bill(Usage)</a>
                                <a class="dropdown-item" href="/dailybillrecords">Monthly Bill(Usage)</a>
                                <a class="dropdown-item" href="/actualbill">Monthly Bill(Actual)</a>

                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/storage">Storage</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Rates</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/itemrates">Item Rates</a>
                                <a class="dropdown-item" href="/changerate">Change Rate</a>

                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/newitem">
                                New Item<span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">Others</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                              
                                <a class="dropdown-item" href="/extras">Add Extra</a>
                                <a class="dropdown-item" href="/extradetails">Extra's Details</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Mess Secc</a>
                        </li>

                    </ul>
                </div>
                <!-- Collapsible content -->
        </nav>
        <script>
         document.addEventListener("DOMContentLoaded", function(event) {
             var nav=document.getElementsByClassName("nav-item");
             for(let i=0;i<nav.length;i++)
                 {
                     if(nav[i].children[0].href==window.location)
                         {
                             nav[i].classList.add("active");
                         }
                     else{
                         nav[i].classList.remove("active");
                     }
                 }

         });
        </script>
