<% include partials/header %>
<div class="container table-container">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th class="txt-center">Item Name</th>
                <th class="txt-center">Rate</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < rate.length; ++i) { %>
                <tr>
                    <td class="txt-center"><%= rate[i].dataValues.name %></td>
                    <td class="txt-center">Rs<%= rate[i].dataValues.price %>/<%= rate[i].dataValues.qtype %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
<% include partials/footer %>
