<% include partials/header %>
<div class="container">
<table class="responsive-table" class="centered" class="highlight">
        <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Rate</th>
                </tr>
              </thead>
        <tbody>
            <% for (let i = 0; i < rate.length; ++i) { %>
                <tr>
                    <td><%= rate[i].dataValues.name %></td>
                    <td>Rs<%= rate[i].dataValues.price %>/<%= rate[i].dataValues.qtype %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
     <% include partials/footer %>