<% include partials/header %>
<div class="container myresponsive">
    <form action="/changerate" method="post"  >
        <div class="md-form">
            <select id="rateid" name="rate[itemGroup]" style="width:100%; height:300px;" class=" search-item txt-center">
                <% for (let i = 0; i < row.length; ++i) { %>
                    <option value='{"itemId": <%= row[i].dataValues.id %>,
                                   "price": <%= row[i].dataValues.price %>}'><%= row[i].dataValues.name %>
                    </option>
                <% } %>
            </select>

        </div>
        <div class="md-form">
            <input type="text" id="newPrice"  name="rate[newPrice]" />
            <label for="rate[newPrice]" id="nw">Item Price</label>
        </div>

        <div class="md-form">

            <input type="password" required id="pass" name="password">
            <label for="pass">Your password</label>
        </div>

        <div class="text-center">
            <button class="btn btn-default">Submit</button>
        </div>
    </form>
</div>
<% include partials/footer %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>
<script>
 function getSelectedRate() {
     let el = $("select[name='rate[itemGroup]']");
     let val = JSON.stringify($(el).children(":selected").attr("value"));
     val = JSON.parse(JSON.parse(val));
     return val;
 }
 function setNewPrice(str) {
     let el = $("input[name='rate[newPrice]']")[0];
     console.log(el, str);
     el.value = str;
 }
 $(document).ready(function () {
     setNewPrice(getSelectedRate().price);
     $("label#nw").addClass("active");
 })
 $("select[name='rate[itemGroup]']").change(function () {
     setNewPrice(getSelectedRate().price);
 });
 $(document).ready(function () {
     $('select').select2({
         placeholder: "Select a item"
     });
 })
</script>
