<% include partials/header %>
<div class="container">
        <form action="/changerate" method="post"  >
            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                    <select id="rateid" name="rate[id]">
                        <% for (let i = 0; i < row.length; ++i) { %>
                            <option value='{"id": <%= row[i].dataValues.id %>,
                                           "oldPrice": <%= row[i].dataValues.price %>}'><%= row[i].dataValues.name %>
                            </option>
                        <% } %>
                    </select>
                    <label for="orangeForm-rate[id]">Item Name</label>
                </div>
            </div>
            <div class="row" style="padding-left:20em; padding-right:20em;">
                <div class="input-field ">
                    <label for="rate[newPrice]">Item Price</label>
                    <input type="text" name="rate[newPrice]" />
                </div>
            </div>
            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="orangeForm-pass" name="password" class="form-control">
                <label for="orangeForm-pass">Your password</label>
            </div> 
            <div class="row" style="padding-left:20em;padding-right: 20em;">
                    <div class="input-field ">
                        <label for="rate[price]">Item Price</label>
                        <input type="text" name="rate[price]" />
                    </div>
            </div>
            <div class="row" style="padding-left:20em;padding-right: 20em;" align="center">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
        <script>
         function getSelectedRate() {
             let el = $("select[name='rate[id]']");
             let val = JSON.stringify($(el).children(":selected").attr("value"));
             val = JSON.parse(JSON.parse(val));
             return val;
         }
         function setNewPrice(str) {
             let el = $("input[name='rate[newPrice]']")[0];
             console.log(el, str);
             el.value = str;
         }
         $(document).ready(function () {
             setNewPrice(getSelectedRate().oldPrice);
         })
         $("select[name='rate[id]']").change(function () {
             setNewPrice(getSelectedRate().oldPrice);
         });
        </script>
</div>
<% include partials/footer %>
