<% include partials/header %>
    <input id="serv-error" type="text" value="<%= error %>" hidden=true>
    <input id="serv-success" type="text" value="<%= success %>" hidden=true>
    <div class="container">
        <H1>Welcome To Mess Management </H1>
        <H1 align="center">System</H1>
    </div>

 <% include partials/footer %>
