<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <a href="/newrate">Add new rate</a><br/>
    <a href="/allrates">All rates</a><br />
    <a href="/itemperday">Today's menu</a>
</body>
</html>