<% include partials/header %>
    <!-- <a href="/newrate">Add new rate</a><br/>
    <a href="/allrates">All rates</a><br />
    <a href="/itemperday">Today's menu</a><br/>
    <a href="/print">Today's Bill</a><br/>
    <a href="/changerate">ChangeRate</a> -->
    <div class="container">
        <H1>Welcome To Mess Management </H1>
        <H1 align="center">System</H1>
        
    </div>
    <% include partials/footer %>