<% include partials/header %>

<div class="container">
    <form action="/newitem" method="post">
        <div class="container myresponsive">
            <div class="text-center md-form">
                <h3 class="pink-text mb-5"><strong>New Item</strong></h3>
            </div>

            <div class="md-form" >
                <i class="fa fa-shopping-basket prefix grey-text"></i>
                <input type="text" required id="orangeForm-name" name="rate[name]" class="form-control">
                <label for="orangeForm-name">Item Name<span class="asterisk">*</span></label>
            </div>
            <div class="md-form">
                <i class="fa fa-inr prefix grey-text"></i>
                <input type="text" required id="orangeForm-rate[price]" name="rate[price]" class="form-control">
                <label for="orangeForm-rate[price]">Item Rate<span class="asterisk">*</span></label>
            </div>
            <div class="md-form" >
                <i class="fa fa-balance-scale prefix grey-text" ></i>
                <input type="text" required id="orangeForm-rate[qty]" name="rate[qtype]" class="form-control">
                <label for="orangeForm-rate[qty]">Quantity Type<span class="asterisk">*</span></label>
            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" required id="orangeForm-pass" name="password" class="form-control">
                <label for="orangeForm-pass">Your password<span class="asterisk">*</span></label>
            </div>
            <div class="text-center">
                <button class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</div>
<% include partials/footer %>
