<% include partials/header %>
<div class="container">
    <div class="row" style="padding-top: 7em;">
        <form action="/newrate" method="post">
            <div class="row" style="padding-left:20em;padding-right: 20em;">
                    <div class="input-field ">
                        <input type="text" name="rate[name]">
                        <label for="rate[name]">Item Name</label>
                    </div>
            </div>   
            <div class="row" style="padding-left:20em;padding-right: 20em;">  
                    <div class="input-field">
                        <input type="text" name="rate[price]">
                        <label for="rate[price]">Item Rate</label>
                    </div>
            </div>    
            <div class="row" style="padding-left:20em;padding-right: 20em;">   
                    <div class="input-field">
                        <input type="text" name="rate[qtype]">
                        <label for="rate[qty]">Quantity Type</label>
                    </div>
                   
            </div>  
            <div class="row" style="padding-left:20em;padding-right: 20em;">   
                <div class="input-field">
                    <input type="password" name="password">
                    <label for="password">Password</label>
                </div>
               
            </div>  
            <div class="row" style="padding-left:20em;padding-right: 20em;" align="center">   
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                          </button>
                   
            </div>      
            
                        
        </form>
    </div>
</div>

 <% include partials/footer %>