<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rate</title>
</head>
<body>
    <form action="/newrate" method="post">
        <input type="text" name="rate[name]">
        <input type="text" name="rate[price]">
        <input type="text" name="rate[qtype]">
        <button type="submit">Submit</button>
    </form>
    <br />
    <a href="/allrates">All rates</a>
</body>
</html>