<% include ./partials/header %>
<div class="container">
    <table class="centered highlight">
        <thead>
            <th>Date</th>
            <th>Expenditure</th>
        </thead>
        <tbody>
         <%   for( let i=0; i<record.length;i++) { %>
            <tr>
                <td><%= record[i].dataValues.date %></td>
                <td><%=  record[i].dataValues.totalBill %></td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>
<% include ./partials/footer %>