<% include partials/header %>
<div class="container table-container">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th class="txt-center">Item Name</th>
                <th class="txt-center">Quantity Remains</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < items.qty.length; ++i) { %>
                <tr>
                    <td class="txt-center"><%= items.name[i] %></td>
                    <td class="txt-center"><%= items.qty[i] %><%= items.qtype[i] %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
<% include partials/footer %>