<% include ./partials/header.ejs %>
<div class="container">
    <form action="/newsupplier" method="post">
        <div class="container myresponsive">
            <div class="text-center md-form">
                <h3 class="pink-text mb-5"><strong>Supplier Details</strong></h3>
            </div>

            <div class="md-form" >
                <i class="fa fa-shopping-basket prefix grey-text"></i>
                <input type="text" id="orangeForm-name" name="name" class="form-control" required="true">
                <label for="orangeForm-name">Supplier Name</label>
            </div>
            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="orangeForm-pass" name="password" class="form-control" required="true">
                <label for="orangeForm-pass">Your password</label>
            </div>
            <div class="text-center">
                <button class="btn btn-default">Add</button>
            </div>
        </div>
    </form>
</div>
<% include ./partials/footer.ejs %>

