<% include partials/header %>
<div class="container">
    <form action="/worker" method="post">
        <div class="container myresponsive">
            <div class="text-center md-form">
                <h3 class="pink-text mb-5"><strong>Add Worker Details</strong></h3>
            </div>

            <div class="md-form" >
                <i class="fa fa-shopping-basket prefix grey-text"></i>
                <input type="text" required id="orangeForm-name" name="worker[name]" class="form-control">
                <label for="orangeForm-name">Worker's Name</label>
            </div>
            <div class="md-form">
                <i class="fa fa-rupee-sign prefix grey-text"></i>
                <input type="text" required id="orangeForm-worker[salary]" name="worker[salary]" class="form-control">
                <label for="orangeForm-worker[salary]">Worker Salary</label>
            </div>
            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" required id="orangeForm-pass" name="password" class="form-control">
                <label for="orangeForm-pass">Your password</label>
            </div>
            <div class="text-center">
                <button class="btn btn-default">Add Worker</button>
            </div>
        </div>
    </form>
</div>
<% include partials/footer %>
